.Appbar-root{
    background-color: #1C1C1C;
    color: #FFFFFF;
    width: 100%;
    z-index: 1100;
    position: fixed;
}

.Appbar-logo{
    display: inline-flex;
    height: 45px;
    width: auto;
    margin: 12px 0 0 15px;
}

.Appbar-menu-holder{

}

.Appbar-menu{
    padding: 0;
    margin: 0;
}

.Appbar-menu li{
    list-style: none;
    display: inline-block;
    color: #FFFFFF;
    border-bottom: solid 3px transparent;
    font-weight: 600;
}

.Appbar-menu li:hover, .Appbar-menu li.active{
    border-bottom: solid 3px #E98A2B;
}

.Appbar-menu li.active > a{
    /*color: #E98A2B;*/
}

.Appbar-menu li > a{
    color: #FFFFFF;
    padding: 22px;
    display: block;
}

.Appbar-menu-icon {
    width: 50px;
    height: 50px;
}

.Appbar-profile{
    border-radius: 0;
    padding: 0 5px;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 65px;
}

.Appbar-profile-avatar{
    display: inline-flex;
    height: 25px;
    width: auto;
}

.Appbar-profile-name{
    display: inline-flex;
    margin: 0 5px;
}

.Appbar-profile-dropdown-icon{
    display: inline-flex;
}

.Appbar-login-button{
    margin: 15px 15px 0 0;
}

.Appbar-login-button button{
    text-transform: inherit !important;
}

.Appbar-searchbox{
    width: 100%;
    margin: 15px 5px 0 15px;
}

@media screen and (max-width: 567px) {
    .Appbar-searchbox{
        max-width: 100%;
    }
}