.Appbar-root{
    background-color: #1C1C1C;
    color: #FFFFFF;
    width: 100%;
    z-index: 1100;
    position: fixed;
}

.Appbar-logo{
    margin: 0 10px 0 75px;
    position: absolute;
    top: 50%;
    /*left: 50%;*/
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    display: inline-flex;
    height: 45px;
    width: auto;
    /*margin: 12px 0 0 15px;*/
}

@media screen and (max-width: 567px){
    .Appbar-logo{
        display: inline-flex;
        height: auto;
        width: 30px;
        margin: 18px 0 0 1px;
    }
}

.Appbar-menu-holder{

}

.Appbar-menu{
    padding: 0;
    margin: 0;
}

.Appbar-menu li{
    list-style: none;
    display: inline-block;
    color: #FFFFFF;
    border-bottom: solid 3px transparent;
    font-weight: 600;
}

.Appbar-menu li:hover, .Appbar-menu li.active{
    border-bottom: solid 3px #E98A2B;
}

.Appbar-menu li.active > a{
    /*color: #E98A2B;*/
}

.Appbar-menu li > a{
    color: #FFFFFF;
    padding: 22px;
    display: block;
}

.Appbar-menu-icon-wrapper, .Appbar-icons-wrapper{
    width: 100%;
    text-align: left;
    height: 70px;
    margin: 0 10px;
    /*border: solid 1px white;*/
    position: relative;
}

.Appbar-icons-wrapper{

}

.Appbar-right-icons{
    margin: 0 10px 0 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: inline-flex;
}

.Appbar-right-icons .icon{
    margin-right: 25px;
}

.Appbar-menu-icon {
    margin: 0 10px 0 15px;
    position: absolute;
    top: 50%;
    /*left: 50%;*/
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

.Appbar-profile{
    border-radius: 0;
    padding: 0 5px;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 65px;
    text-align: center;
}

.Appbar-profile-avatar{
    display: inline-flex;
    height: 25px;
    width: auto;
}

.Appbar-profile-name{
    display: inline-flex;
    margin: 0 5px;
}

.Appbar-profile-dropdown-icon{
    display: inline-flex;
}

.Appbar-user-icon{
    margin: 5px 0 0 0;
    text-align: right;
}

.Appbar-login-button{
    margin: 15px 15px 0 0;
    text-align: right;
}

.Appbar-login-button button{
    text-transform: inherit !important;
}

.Appbar-searchbox{
    width: 85%;
    margin: 15px auto;
    background-color: #1c1c1c;
}

.Appbar-searchbox .form-control{
    background-color: #c1c1c1;
    border: solid 1px #c1c1c1;
    opacity: 0.8;
}

.Appbar-menu .dropdown{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    position: absolute;
    top: 2px;
}

@media screen and (max-width: 567px) {
    .Appbar-searchbox{
        max-width: 100%;
    }
}