.MainLayout-main{
    padding-top: 80px;
    /*margin-left: 250px;*/
}

@media screen and (max-width: 1024px) {
    .MainLayout-main{
        margin-left: 0;
    }
}

#push-notification{
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: none;
}