.MainLayout-main{
    padding-top: 80px;
    margin-left: 240px;
}

@media screen and (max-width: 567px) {
    .MainLayout-main{
        margin-left: 0;
    }
}

#push-notification{
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: none;
}