.startup-logo-holder{
    display: inline-block;
    padding: 0;
    max-height: 80px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: auto;
    line-height: 80px;
}

.startup-logo-holder img{
    width: 100%;
    height: auto;
}

.text-inherit{
    text-transform: capitalize !important;
    margin-left: 10px;
}

.startup-name{
    font-size: 1.5em;
    font-weight: 500;
    max-width: 95%;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.startup-category{
    margin: 0 0 15px 0;
    color: #c1c1c1;
    max-width: 95%;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.startup-inc-date{
    margin: 15px 0;
    font-size: 0.9em;
    color: #c1c1c1;
}

.startup-description-truncated{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    position: relative;
    height: 3em;
    overflow: hidden;
    padding-right: 1em;
}

.startup-initials{
    font-weight: 400;
    font-size: 2em;
    color: #ffffff;
}

.clickable{
    cursor: pointer;
}

.clickable:hover{
    box-shadow: 1px 2px 1px -1px #c1c1c1;
}

.startup-view-profile{
    text-decoration: none;
    display: block;
    padding: 15px;
    background-color: #1c1c1c;
    text-align: center;
    color: #f1f1f1;
    border-radius: 8px;
}

.enroll-startup-button{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

@media screen and (max-width: 567px) {
    .gutters{
        margin-left: -10px;
        margin-right: -10px;
        margin-top: -10px;
    }
}