
email-header{
  margin: 10px auto 20px auto;
  width: auto;
  background-color: #1c1c1c;
  color: #ffffff
}

email-footer{
  margin: 20px 0
}

@media only screen and (max-width: 650px) {

  .title-heading {
    font-size: 18px !important;
    text-align: center !important;
  }

}

