.event-canvas{
    background-color: white;
    padding: 30px;
    margin-top: -10px;
}

.flex-display {
    display: flex;
}

.card-bg {
    width: 18vw;
    height: inherit;
}

.align-right{
    text-align: right;
}

.event-bg-wrapper {
    height: 100%;
}

.title-and-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
}

.progress-bar {
    justify-self: end;
    text-align: right;
    font-size: 11px;
}

.event-rsvp {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.date-and-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rsvp-buttons {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    align-items: center;
    text-align: center;
}

.event-attachment{
    background-color: #f1f1f1 !important;
}

.event-body {
    width: 100%;
    background-color: #ffffff;
    border: solid 1px #f1f1f1;
    padding: 30px 1em;
    border-radius: 8px;
    cursor: pointer;
}

.event-body:hover{

}

.event-body:hover a{
    /*color: #e98a2b;*/
}

.event-body .featured-text {
    color: #c1c1c1;
}

.event-bg {
    width: 100%;
    margin-bottom: -5px;
}

.event-icon{
    width: 60px;
    float: left;
    height: 100%;
}

.event-float-right{
    float: left;
}

.card-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.event-title{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
}

.event-title a{
    color: #1c1c1c;
    text-decoration: none;
}
.event-title a:hover{
    color: #e98a2b;
}

.event-time{
    font-size: 0.9em;
    color: #c1c1c1;
}

.event-location{
    padding: 15px 0;
    color: #e98a2b;
}

.event-location-icon {
    float: left;
    position: relative;
    font-size: 25px;
    margin-right: 5px;
    margin-top: -5px;
}

.event-location-venue{
    display: inline-block;
    margin: 0 0 0 10px;
    position: relative;
}

.event-date-time{
    padding: 25px 0;
    font-size: 15px;
}
.event-date-time small{
    font-size: 0.7em;
    color: #aaaaaa;
}

.event-button-container{
    padding: 10px 20px 15px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.event-action-button{
    color: white;
    padding: 5px;
    width: 1.2em !important;
    height: 1.2em !important;
    border-radius: 100%;
}

.event-button-container:hover{
    background-color: #e5e5e5;
}

.event-maybe-button{
    background-color: #a78ca3;
}

.event-not-attending-button{
    background-color: #C70000;
}

.event-attending-button{
    background-color: #E98A2B;
}

.event-maybe-text{
    color: #AD7BA8;
}

.event-not-attending-text{
    color: #C70000;
}

.event-attending-text{
    color: #E98A2B;
}

.featured-event-button-container{
    background-color: #FFFFFF;
}

.event-details-button{
    padding: 15px;
    margin-top: 10px;
    border: solid 1px crimson;
}

.rsvp-btns-sm {
    width: 20px;
}

.rsvp-sm {
    font-size: 10px;
}

.event-label{
    background-color: #1C1C1C;
    color: white;
    font-size: 10px;
    padding: 4px 10px;
    font-weight: 800;
}

.event-description {
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 0 1em;
    width: 100%;
}

.title-font {
    color: #e98a2b;
}

.event-details {
    margin: 1em 0 !important;
}

.event-details-teaser{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    position: relative;
    max-height: 4.2em;
    overflow: hidden;
    padding-right: 1em;
}

.react-add-to-calendar__dropdown{
    width: 100% !important;
}

.react-add-to-calendar__dropdown ul{
    padding: 0 0 5px 5px;
}

@media screen and (max-width: 567px) {
    .event-button-container > span{
        font-size: 0.9em;
    }
}
