html,
body, #root, .fill {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.ql-editor {
  min-height: 25vh;
  padding: 20px 0 !important;
  font-size: 1.2em;
  margin-bottom: 25px;
}

.ql-container.ql-snow{
  border: 0 !important;
  border-bottom: solid 1px #ccc !important;
}

.ql-editor.ql-blank::before {
  color: rgba(0,0,0,0.6);
  content: attr(data-placeholder);
  font-style: normal !important;
  left: 0px !important;
  pointer-events: none;
  position: absolute;
  right: 15px;
}

.ql-toolbar.ql-snow {
  border: 1px solid #ccc !important;
  border-radius: 5px;
  box-sizing: content-box;
  padding: 8px !important;
  background-color: white;
}