@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Montserrat', sans-serif !important;
}

html,
body, #root, .fill {
    margin: 0;
    border: 0;
    padding: 0;
}

.MuiCard-root {
    /*border-radius: 0 !important;*/
    /*box-shadow: none !important;*/
}

a {
    text-decoration: none;
    color: #636569;
}
