.body{
    background: #1C1C1C;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    padding-top: 10vh;
}

.logo{
    height: auto;
    width: 178px;
    left: 100px;
}

.title{
    font-family: 'Montserrat', sans-serif !important;;
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 60px;
    margin-top: 60px;
    margin-bottom: 60px;

    color: #FFFFFF;

    mix-blend-mode: normal;
}

.map-holder{
    display: block;
}

@media screen and (max-width: 768px){
    .map-holder{
        display: none;
    }
    .title{
        font-size: 39px;
        line-height: 48px;
    }

    .body{
        background-image: url("../../assets/images/map-of-africa-background.png");
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: 5vh;
        padding-top: 5vh;
    }
}

.subtitle{
    font-family: Montserrat, sans-serif !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #E98A2B;
    margin-top: 27px;
    margin-bottom: 50px;
}

.signin-button{
    width: 100%;
    padding: 15px !important;
    font-weight: bold !important;
    text-transform: inherit !important;
}

.signup-button{
    width: 100%;
    text-transform: inherit !important;
    color: white !important;
    padding: 15px !important;
}