
.button{
    width: 100%;
    box-shadow: none;
    background-color: #E98A2B;
    color: #E98A2B !important;
}

.button-b{
    width: 100%;
    box-shadow: none;
    color: white !important;
    border-color: #E98A2B !important;
}
.conection-btn {
    background-color: #1C1C1C !important;
}
.profile-action-buttons{
    display: flex;
    justify-content: space-between
}
.profile-action-buttons > button{
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    box-sizing: border-box;
    border-radius: 4px;
}
.profile-action-buttons > button.view-profile-button{
    border: 1px solid #E98A2B;
    background-color: transparent;
}
.profile-action-buttons > button.connect-button{
    border: 1px solid #E98A2B;
    background-color: #E98A2B;
    color: white;
}
.profile-action-buttons > button.connect-button-disabled{
    border: 1px solid #c1c1c1;
    background-color: #c1c1c1;
    color: white;
    cursor: auto !important;
}

.profile-bio-teaser{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
    position: relative;
    height: 4.2em;
    overflow: hidden;
    padding-right: 1em;
}

.card-title{
    margin-top: 6px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
}